<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <pattern>
                    <pattern>{"service": "${springAppName}"}</pattern>
                </pattern>
                <logLevel/>
                <message/>
                <mdc/>
                <threadName/>
                <stackTrace/>
                <callerData/>
            </providers>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <pattern>
                    <pattern>{"service": "${springAppName}"}</pattern>
                </pattern>
                <logLevel/>
                <message/>
                <mdc/>
                <threadName/>
                <stackTrace/>
                <callerData/>
            </providers>
        </encoder>
    </appender>

    <springProfile name="local">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <root level="INFO" />
        <logger name="com.klleon.klone" level="DEBUG"/>
    </springProfile>
</configuration>
